:root {
    --celeste: #c6f2ff;
    --blanco: #fefcf1;
    --azul_oscuro: #0d3776; 
    --fuente: 'Roboto Mono', monospace;
    --roboto: 'Roboto Mono', monospace;
    --chakra: 'Chakra Petch', sans-serif;
    --verde:  #00ea52b3;
    --verde_claro: #44ff28;
    --bkgn: #151515;

}

html {
    height: 100vh;
    box-shadow: inset 0px 0px 20vh black;
}
body {
    
    /* background-image: linear-gradient(to bottom, var(--azul_oscuro) 10%, var(--celeste) 60%, var(--blanco)); */
    font-family: var(--fuente);
    /* font-family:'Times New Roman', Times, serif; */
    /* background-color: var(--bkgn); */
    /* background-image: radial-gradient(#524a3c 0.01%, var(--bkgn) ); */
    background-color: #1e1c19 ;
    text-shadow: 0px 0px 3vh var(--verde) ;
    color: var(--verde_claro);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton {
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 3vh;
    background: none;
    font-family: var(--fuente) ;
    color: var(--verde_claro);
    text-shadow: 0px 0px 3vh var(--verde) ;
    border: 0.5vh solid var(--verde_claro);
    box-shadow: 0px 0px 1vh var(--verde), inset 0px 0px 1vh var(--verde);
    border-radius: 1vh;
    margin: 1vh;    
}
.boton:hover{
    scale: 1.1;
    /* box-shadow: 0px 0px 5vh var(--azul_oscuro); */
}
.boton:active{
    scale: 1;
    box-shadow: none;
}

.boton_lite {
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
    background: none;
    border: none;
    font-family: var(--fuente);
    color: var(--verde_claro);
    text-shadow: 0px 0px 2vh var(--verde) ;
    /* color: var(--blanco); */
    /* text-shadow: 0px 0px 1vh var(--azul_oscuro); */
}

.boton_lite:hover {
    /* color: var(--bkgn); */
    scale: 0.9;
    border: 0.1vh solid var(--verde_claro);
    box-shadow: 0px 0px 2vh var(--verde), inset 0px 0px 2vh var(--verde);
    border-radius: 1vh;
    
}

.alerta {
    color: red;
}

.ok {
    color: #45f181;
    /* text-shadow: 0px 0px 5px var(--azul_oscuro); */
    background-color: #0d3776;
    border-radius: 1vh;
    padding: 1vh;
    box-shadow: 0px 0px 5px var(--azul_oscuro);
}

label {
    margin: 2vh;
    font-size: 2.5vh;
    text-shadow: 0px 0px 5vh var(--verde) ;
    font-family: var(--fuente);
    /* color: var(--azul_oscuro); */
    /* text-shadow: 0px 0px 1vh var(--azul_oscuro); */
}

input, .swal2-input {
    /* background:  #fefcf127; */
    font-family: var(--fuente);
    color: var(--verde_claro);
    text-shadow: 0px 0px 5vh var(--verde);
    background: none;
    border: 1px solid var(--verde_claro);
    border-radius: 1vh;
    box-shadow: 0px 0px 1vh var(--verde), inset 0px 0px 1vh var(--verde);
    
    /* box-shadow: inset 0px 0px 1vh var(--azul_oscuro); */
}

.swal2-input {
    border-radius: 1vh;
}

.swal2-popup {
    border: 1px solid var(--verde_claro);
    border-radius: 3vh;
    box-shadow: 0px 0px 1vh var(--verde), inset 0px 0px 1vh var(--verde);

}