:root {
    --celeste: #79a8b6;
    --blanco: #fefcf1;
    --azul_oscuro: #0d3776; 
    --fuente: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    height: 100vh;
    font-family: var(--fuente);
}
body {

    background-color: var(--celeste);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
